.first-blocks{
    display: flex;
    flex-direction: column;
    max-width: 1980px;
    margin: 0 auto;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .first-blocks__title{
    display: flex;
      margin: 0 auto;
      flex-direction: column;
      font-weight: bold;
      font-size: 30px;
      margin-top: 75px; 
      margin-left: 170px; 
  }
  
  .first-blocks__subtitle{
      display: flex;
   font-size: 15px;
   justify-content: center;
   margin-left: 170px;
   margin-right: 450px; 
  }
  
  .first-blocks__wrapper{
      display: grid;
      text-align: center;
      grid-template-columns: 387px 387px 387px;
      gap: 10px;
      margin: 50px 170px auto 170px;
    }
  
    .first-blocks__block1--color1{
      display: grid;
      width: 387px;
      height: 368px;
      background-color: $color1;
      align-items: center;
    }
  
    .first-blocks__block2--color2{
      display: grid;
      width: 387px;
      height: 368px;
      align-items: center;
      background-color: $color2;
    }
    
    .first-blocks__block3--color3{
      display: grid;
      width: 387px;
      height: 368px;
      align-items: center;
      background-color: $color3;
    }
  
    .first-blocks__block4--color4{
      display: grid;
      width: 585px;
      height: 368px;
      align-items: center;
      background-color: $color4;
    }
   
    .first-blocks__block5--color5{
      display: grid;
      width: 585px;
      height: 368px;
      margin-left: 200px;
      align-items: center;
      background-color: $color5;
    }
  