.footer{
    font-weight: bold;
    background: $color6;
    background-size: cover;
    margin: 0 auto;
  }

  .footer__clients{
    display: flex;
    font-size: 30px;
    margin-left: 170px;
    margin-top: 100px;
  }


.footer__project-clients{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__grid-container {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 351px 351px ; 
  gap: 0; 
  margin: 50px 170px auto 170px; 
}

.footer__item1--color1{
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: $color1;
}

.footer__item2--color10{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color10;
}

.footer__item3--color3{
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: $color3;
}

.footer__item4--color4{
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: $color4;
}

.footer__item5--color5{
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: $color5;
}

.footer__item6--color1{
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: $color1;
}

.footer__picture{
  width: 60px;
}

.footer__pic{
  width: 120px;
}

.footer__item-text{
  margin-left: 80px;
  margin-right: 80px;
  font-family: 'Times New Roman', Times, serif;

  & span {
      font-weight: lighter;
      
    }
}

.padd{
    margin-top: 150px;
}