body{
    background-color: $color11;
    ; 
    color: white; 
}

.header{
  display: flex;
  max-width: 1980px;
  margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 35px;
}

.header__SK-image{
  @include flex-center;
  width: 180px;
  margin-left: 170px;
}
