.park{
    @include flex-center;
}

.park__title{
    font-weight: bold;
    font-size: 30px;
    margin-top: 75px; 
    margin-left: 170px;
}

.park__container{
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-template-columns: 390px 390px 390px;
    grid-template-rows: 1fr 1fr ;
    gap: 5px;
    margin: 50px 170px auto 170px;
    margin-bottom: 100px;
  }

  

  .park__block7--color6{
    display: grid;
    grid-column: 1;
    width: 387px;
    height: 233px;
    background-color: $color6;
  }

  .park__block8--color7{
    display: grid;
    width: 387px;
    height: 359px;
    background-color: $color7;
  }

  .park__block9--color8{
    display: grid;
    width: 387px;
    height: 275px;
    background-color: $color8;
  }
  
  .park__block10--color8{
    display: grid;
    width: 387px;
    height: 477px;
    margin-top: -125px;
    background-color: $color8;
  }

  .park__block11--color3{
    display: grid;
    width: 387px;
    height: 325px;
    color: $color9;
    background-color: $color3;
  }

  .park__block12--color6{
    display: grid;
    width: 387px;
    height: 233px;
    margin-top: -80px;
    background-color: $color6;
  }

  .park__block13--color9{
    display: grid;
    width: 387px;
    height: 195px;
    margin-top: -205px;
     grid-column: 3;
     background-color: $color9;
  }

  .park__desc-container{
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-right: 65px;    
    padding-left: 65px;
  }
