html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #171717;
  color: white;
}

.header {
  display: flex;
  max-width: 1980px;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 35px;
}

.header__SK-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 180px;
  margin-left: 170px;
}

.header__phone {
  display: flex;
  align-items: center;
  background-color: #171717;
  border: solid 1px #E4B564;
  cursor: pointer;
  color: #E4B564;
  width: 160px;
  height: 40px;
  margin-left: 700px;
}

.header__phone-link {
  display: flex;
  margin: 0 auto;
  justify-content: end;
  text-decoration: none;
}
.header__phone-link :hover {
  background-color: #0d0d0d;
}

.header__ring-image {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 5px;
  height: 20px;
}

.footer__project-link--color3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E4B564;
  text-decoration: none;
}
.footer__project-link--color3 :hover {
  background-color: #0d0d0d;
}

.footer__projects {
  cursor: pointer;
  background-color: #171717;
  border: solid 1px #E4B564;
  color: #E4B564;
  width: 160px;
  height: 40px;
  margin-right: 167px;
  margin-top: 100px;
}

.first-blocks {
  display: flex;
  flex-direction: column;
  max-width: 1980px;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.first-blocks__title {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  font-weight: bold;
  font-size: 30px;
  margin-top: 75px;
  margin-left: 170px;
}

.first-blocks__subtitle {
  display: flex;
  font-size: 15px;
  justify-content: center;
  margin-left: 170px;
  margin-right: 450px;
}

.first-blocks__wrapper {
  display: grid;
  text-align: center;
  grid-template-columns: 387px 387px 387px;
  gap: 10px;
  margin: 50px 170px auto 170px;
}

.first-blocks__block1--color1 {
  display: grid;
  width: 387px;
  height: 368px;
  background-color: #634F2C;
  align-items: center;
}

.first-blocks__block2--color2 {
  display: grid;
  width: 387px;
  height: 368px;
  align-items: center;
  background-color: #B4A385;
}

.first-blocks__block3--color3 {
  display: grid;
  width: 387px;
  height: 368px;
  align-items: center;
  background-color: #E4B564;
}

.first-blocks__block4--color4 {
  display: grid;
  width: 585px;
  height: 368px;
  align-items: center;
  background-color: #635A4A;
}

.first-blocks__block5--color5 {
  display: grid;
  width: 585px;
  height: 368px;
  margin-left: 200px;
  align-items: center;
  background-color: #B08C4D;
}

.park {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.park__title {
  font-weight: bold;
  font-size: 30px;
  margin-top: 75px;
  margin-left: 170px;
}

.park__container {
  display: grid;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  grid-template-columns: 390px 390px 390px;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  margin: 50px 170px auto 170px;
  margin-bottom: 100px;
}

.park__block7--color6 {
  display: grid;
  grid-column: 1;
  width: 387px;
  height: 233px;
  background-color: #0E0E0E;
}

.park__block8--color7 {
  display: grid;
  width: 387px;
  height: 359px;
  background-color: #242424;
}

.park__block9--color8 {
  display: grid;
  width: 387px;
  height: 275px;
  background-color: #1F1F1F;
}

.park__block10--color8 {
  display: grid;
  width: 387px;
  height: 477px;
  margin-top: -125px;
  background-color: #1F1F1F;
}

.park__block11--color3 {
  display: grid;
  width: 387px;
  height: 325px;
  color: #0A0909;
  background-color: #E4B564;
}

.park__block12--color6 {
  display: grid;
  width: 387px;
  height: 233px;
  margin-top: -80px;
  background-color: #0E0E0E;
}

.park__block13--color9 {
  display: grid;
  width: 387px;
  height: 195px;
  margin-top: -205px;
  grid-column: 3;
  background-color: #0A0909;
}

.park__desc-container {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-right: 65px;
  padding-left: 65px;
}

.footer {
  font-weight: bold;
  background: #0E0E0E;
  background-size: cover;
  margin: 0 auto;
}

.footer__clients {
  display: flex;
  font-size: 30px;
  margin-left: 170px;
  margin-top: 100px;
}

.footer__project-clients {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__grid-container {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 351px 351px;
  gap: 0;
  margin: 50px 170px auto 170px;
}

.footer__item1--color1 {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #634F2C;
}

.footer__item2--color10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(232, 210, 171, 0.7607843137);
}

.footer__item3--color3 {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #E4B564;
}

.footer__item4--color4 {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #635A4A;
}

.footer__item5--color5 {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #B08C4D;
}

.footer__item6--color1 {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #634F2C;
}

.footer__picture {
  width: 60px;
}

.footer__pic {
  width: 120px;
}

.footer__item-text {
  margin-left: 80px;
  margin-right: 80px;
  font-family: "Times New Roman", Times, serif;
}
.footer__item-text span {
  font-weight: lighter;
}

.padd {
  margin-top: 150px;
}

/*# sourceMappingURL=main.css.map */
