.header__phone{
    display: flex;
    align-items: center;
    background-color: $color11;
    border: solid 1px  $color3;
    cursor: pointer;
    color:  $color3;
    width: 160px;
    height: 40px;
    margin-left: 700px;
}

.header__phone-link{
    display: flex;
    margin: 0 auto;
    justify-content: end;
    text-decoration: none;

    & :hover{
        background-color: $color12;
       }

}

.header__ring-image{
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 5px;
    height: 20px;
}

.footer__project-link--color3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color3;
    text-decoration: none;

    & :hover{
     background-color: $color12;
    }

  }

  .footer__projects{
    cursor: pointer;
    background-color: $color11;
    border: solid 1px  $color3;
    color:  $color3;
    width: 160px;
    height: 40px;
    margin-right: 167px;
    margin-top: 100px;
}
