// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss
@import "reset.scss"; 
@mixin flex-center{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@import "./variables/colors";
@import "./sections/header";
@import "./elements/btn";
@import "./sections/firstblocks";
@import "./sections/park";
@import "./sections/footer";





























// :root{
//     --color1: #634F2C;
//     --color2: #B4A385;
//     --color3: #E4B564;
//     --color4: #635A4A;
//     --color5: #B08C4D;
//     --color6: #0E0E0E;
//     --color7: #242424;
//     --color8: #1F1F1F;
//     --color9: #0A0909;
//     --color10: #E8D2ABC2;
// }

// body{
//     background-color: rgb(0, 0, 0); 
//     color: white; 
// }

// .header{
//   display: flex;
//   max-width: 1980px;
//   margin: 0 auto;
//     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
//     margin-top: 35px;
// }

// .header__SK-image{
//   @include flex-center;
//   width: 180px;
//   margin-left: 170px;
// }

// .header__phone{
//     display: flex;
//     align-items: center;
//     background-color: #171717;
//     border: solid 1px  $color3;
//     cursor: pointer;
//     color:  $color3;
//     width: 160px;
//     height: 40px;
//     margin-left: 580px;
// }

// .header__phone-link{
//     display: flex;
//     margin: 0 auto;
//     // justify-content: center;
//     justify-content: end;
//     text-decoration: none;
// }

// .header__ring-image{
//     display: flex;
//     align-items: center;
//     padding-right: 10px;
//     padding-left: 5px;
//     height: 20px;
// }

// .first-blocks{
//   display: flex;
//   flex-direction: column;
//   max-width: 1980px;
//   margin: 0 auto;
//     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
// }

// .h1{
//   display: flex;
//     margin: 0 auto;
//     flex-direction: column;
//     font-weight: bold;
//     font-size: 30px;
//     margin-top: 75px; 
//     margin-left: 170px; 
// }

// .subtitle{
//     display: flex;
//  font-size: 15px;
//  justify-content: center;
//  margin-left: 170px;
//  margin-right: 450px; 
// }

// .wrapper{
//     display: grid;
//     text-align: center;
//     grid-template-columns: 367px 367px 367px;
//     gap: 15px;
//     margin: 50px 170px auto 170px;
//   }

//   .block-1{
//     display: grid;
//     width: 367px;
//     height: 368px;
//     gap: 15px;
//     background-color: $color1;
//     align-items: center;
//   }

//   .block-2{
//     display: grid;
//     width: 367px;
//     height: 368px;
//     align-items: center;
//     background-color: $color2;
//   }
  
//   .block-3{
//     display: grid;
//     width: 367px;
//     height: 368px;
//     align-items: center;
//     background-color: $color3;
//   }

//   .block-4{
//     display: grid;
//     width: 560px;
//     height: 368px;
//     align-items: center;
//     background-color: $color4;
//   }
 
//   .block-5{
//     display: grid;
//     width: 560px;
//     height: 368px;
//     margin-left: 190px;
//     align-items: center;
//     background-color: $color5;
//   }

//   .main{
//     font-weight: bold;
//     font-size: 30px;
//     margin-top: 75px; 
//     margin-left: 170px;
// }

// .container{
//     display: grid;
//     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
//     grid-template-columns: 367px 367px 367px;
//     grid-template-rows: 1fr 1fr ;
//     gap: 5px;
//     margin: 50px 170px auto 170px;
//   }

  

//   .block-7{
//     display: grid;
//     grid-column: 1;
//     width: 367px;
//     height: 213px;
//     background-color: $color6;
//     /* grid-row: 1 / 16; */
//   }

//   .block-8{
//     display: grid;
//     width: 367px;
//     height: 339px;
//     /* grid-column: 2;
//     grid-row: 1/20; */
//     background-color: $color7;
//   }

//   .block-9{
//     display: grid;
//     width: 367px;
//     height: 255px;
//     /* grid-column: 3;
//     grid-row: 1/14; */
//     background-color: $color8;
//   }
  
//   .block-10{
//     display: grid;
//     width: 367px;
//     height: 460px;
//     margin-top: -125px;
//     /* padding-top: 35px; */
//     /* grid-column: 1;
//     grid-row: 15 / 43; */
//     background-color: $color8;
//   }

//   .block-11{
//     display: grid;
//     width: 367px;
//     height: 305px;
//     color: $color9;
//     /* grid-column: 2;
//     grid-row: 20/42; */
//     background-color: $color3;
//   }

//   .block-12{
//     display: grid;
//     width: 367px;
//     height: 213px;
//     margin-top: -80px;
//     /* grid-column: 3;
//     grid-row: 12/30; */
//     background-color: $color6;
//   }

  // .block-13{
  //   display: grid;
  //   width: 367px;
  //   height: 195px;
  //   margin-top: -205px;
  //    grid-column: 3;
  //    background-color: $color9;
  // }

  // .desc-container{
  //   display: flex;
  //   justify-content: center;
  //   padding-top: 35px;
  //   padding-right: 65px;    
  //   padding-left: 65px;
  // }

//   .footer{
//     font-weight: bold;
//     background: #0E0E0E;
//     background-size: cover;
//     margin: 0 auto;
//   }

//   .clients{
//     display: flex;
//     font-size: 30px;
//     margin-left: 170px;
//     margin-top: 30px;
//   }

//   .project-link{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: #E4B564;
//     text-decoration: none;
//   }

//   .projects{
//     cursor: pointer;
//     background-color: #171717;
//     border: solid 1px  #E4B564;
//     color:  #E4B564;
//     width: 160px;
//     height: 40px;
//     margin-right: 180px;
//     margin-top: 30px;
// }

// .project-clients{
//   display: flex;
//   justify-content: space-between;
//   margin: 0 auto;
// }

// .grid-container {
//   display: grid;
//   text-align: center;
//   grid-template-columns: 1fr 1fr 1fr; 
//   grid-template-rows: 351px 351px ; 
//   gap: 0; 
//   height: 100vh;
//   margin: 50px 170px auto 170px; 
// }

// .item1{
//   display: grid;
//   align-items: center;
//   justify-content: center;
//   background-color: $color1;
// }

// .item2{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   background-color: $color10;
//   font-size: 16px;
// }

// .item3{
//   display: grid;
//   align-items: center;
//   justify-content: center;
//   background-color: $color3;
// }

// .item4{
//   display: grid;
//   align-items: center;
//   justify-content: center;
//   background-color: $color4;
// }

// .item5{
//   display: grid;
//   align-items: center;
//   justify-content: center;
//   background-color: $color5;
// }

// .item6{
//   display: grid;
//   align-items: center;
//   justify-content: center;
//   background-color: $color1;
// }

// .picture{
//   width: 60px;
// }

// .picture_2_0{
//   width: 120px;
// }

// .text{
//   font-weight: lighter;
//   padding-left: 120px;
//   padding-right: 120px;
// }

// .item-text{
//   padding-left: 120px;
//   padding-right: 120px;
// }
